

.board {
  width: fit-content;
  display: grid;
  gap: 2px;
  margin: 0 auto;
  transform: rotate(45deg) rotate3d(-3, 3, 0, 60deg);

  .grass {
    position: relative;
    height: 100px;
    width: 100px;
    box-shadow: 0 0 0 0 rgba(0,0,0,.7);
    background-color: #4ade80;
    border: 2px solid #22c55e;
    color: #14532d;
    border-radius: 4px;
      &:hover {
        cursor: pointer;
        background-color: #14532d;;
        transform: translate(-8px, -8px);
        outline: solid 2px white;
        box-shadow: 8px 8px 0 0 rgba(0,0,0,.7);
        transition: .3s;
      }
  }

  .base {
    position: relative;
    height: 100px;
    width: 100px;
    box-shadow: 0 0 0 0 rgba(0,0,0,.7);
    background-color: #fbd585;
    border: 2px solid #f59e0b;
    color: #78350f;
    border-radius: 4px;
      &:hover {
        cursor: pointer;
        background-color: #78350f;
        transform: translate(-8px, -8px);
        outline: solid 2px white;
        box-shadow: 8px 8px 0 0 rgba(0,0,0,.7);
        transition: .3s;
      }
  }

  .path {
    position: relative;
    height: 100px;
    width: 100px;
    box-shadow: 0 0 0 0 rgba(0,0,0,.7);
    background-color: #e2e8f0;
    border: 2px solid #cbd5e1;
    color: #334155;
    border-radius: 4px;
      &:hover {
        cursor: pointer;
        background-color: #334155;
        transform: translate(-8px, -8px);
        outline: solid 2px white;
        box-shadow: 8px 8px 0 0 rgba(0,0,0,.7);
        transition: .3s;
      }

  }

}

.building-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  .add-btn {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    opacity: 0.6;

    &:hover {
      opacity: 1.0;
    }
  }
}

.row {
  display: flex;
  gap: 2px;
}
